<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://vignette4.wikia.nocookie.net/disney/images/8/8d/Merm650.jpg/revision/latest?cb=20101022061721", width: 300, alt: "Profile Image" %>
  </div>
    
  <div class="col-md-8"> 
    <p>You know, I'm pretty dang awesome. :) I love to be cool, because I just happen to excel at it. <br>
    I should know; it's me I'm talking about here. I have created, developed, and in some cases, destroyed, perfectly good things.</p>
    
    <h3>Some things I've made:</h3>
    <li>This site</li>
    <li>The Little Mermaid</li>
    <li>Your Mom (JK. Probably.)</li>
  </div>
</div>