<h1>Pages#contact</h1>

<p>Sup, Homies! This message you're seeing right now is called "fake", because I haven't actually been able to figure out what I want to put here yet! So yeah. Enjoy! (You're on the Contact page by the way.)</p>

<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_with_delimiter "1553598784545" %></p>