<div class="inner cover">
  <h1 class="cover-heading">Hi!</h1>
  <p class="lead">Thanks for visiting this site. This message you're seeing right now is called "fake", because I haven't actually been able to figure out what I want to put here yet! So yeah. Enjoy! (You're on the homepage by the way.)</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
